.container {
    padding-top: 12px;
    padding-bottom: 12px;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
    vertical-align: middle;

    max-width: 600px;
}

body, input {
    font-family:
        "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    text-align: center;
}

.row {

}

img {
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    max-width: 64px;
}

input {
    width: 80px;
}

.bpm {
    margin-left: 12px;
    vertical-align: middle;
}

.logo {

}

.logo img {
    max-width: 100px;
}
